body {
    padding: 20px;
}

h2 {
    font-family: benton-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding: 20px;
}

h3 {
    font-family: benton-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}

p {
    font-family: benton-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right:15px;
    max-width: 400;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    p {
      font-size: 15px;
      margin-left: 200px;
      margin-right: 200px;
    }
    h2 {
        font-size: 18px;
      }
    h3 {
    font-size: 15px;
    }
  }

@media screen and (max-width: 1000px) {
    p {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    p {
      font-size: 10px;
      margin-left: auto;
      margin-right: auto;
    }
    h2 {
        font-size: 13px;
      }
    h3 {
    font-size: 10px;
    }
  }

img.head {
    width: 40%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

#p2 {
    max-width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

iframe.deck{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
